<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <!-- cmessaging -->
    <add key="topic" value="a.b.e"/>
    <add key="exchange" value="ExchangeTest"/>
    <add key="identifier" value="900315_87ba85af"/>
    <add key="FxConfigServiceUrl" value="http://ws.config.framework.fws.qa.nt.ctripcorp.com/Configws/" />
    <add key="AppID" value="922103"/>
    <add key="LoggingServer.V2.IP" value="collector.logging.fws.qa.nt.ctripcorp.com"/>
    <add key="LoggingServer.V2.Port" value="63100" />
  </appSettings>
</configuration>
