<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="AppId" value="921850"/>
    <add key="LoggingServer.V2.IP" value="collector.logging.fws.qa.nt.ctripcorp.com"/>
    <add key="LoggingServer.V2.Port" value="63100"/>
    <add key="SOA.ServiceRegistry.Url" value="http://ws.soa.fws.qa.nt.ctripcorp.com/registry/api"/>
    <add key="FxConfigServiceUrl" value="http://ws.config.framework.fws.qa.nt.ctripcorp.com/configws/"/>
    <add key="ServiceUrl" value="http://localhost:49852/"/>
    <add key="SOA.CircuitBreakerForceClosed" value="true" />
    <add key="SOA.EnableDynamicPolicy" value="false"/>
    <add key="SOA.PolicyServiceUrl" value="http://ws.soa.fws.qa.nt.ctripcorp.com/policy/api"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add path="*" type="CServiceStack.WebHost.Endpoints.CServiceStackHttpHandlerFactory, CServiceStack.Mega" verb="*"/>
    </httpHandlers>
    <sessionState mode="Off" />
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add path="*" name="CServiceStack.Factory" type="CServiceStack.WebHost.Endpoints.CServiceStackHttpHandlerFactory, CServiceStack.Mega" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true"/>
    </handlers>
  </system.webServer>
</configuration>
